<%= fields_for object  do |f|%>
  <small><%= f.text_field "#{survey_status_type}_date".to_sym, id: "user_#{survey_status_type}_date_#{object.id}", disabled: !can_update, class: 'update-ajax-field', data: {url: update_path}, placeholder: t("date.formats.datepicker_default"), value: object.try("#{survey_status_type}_date".to_sym).try(:to_date) %></small><br />
  <%= f.select survey_status_type, options_for_select(Surveys313::Survey.statuses(survey_status_type).invert, object.try(survey_status_type)), {include_blank:"--Brak--"} , { class: 'form-select update-ajax-field', disabled: !can_update, data: {url: update_path} } %>
<% end %>
