
<div class="messages"></div>
<%= hidden_field_tag 'reload_template', 'survey_evaluation' %>
<%= hidden_field_tag 'reload_container', '#survey_evaluations' %>
<h2>Dostępne Ewaluacje</h2>
<div class="grid edit-info">
  <div class="grid__item u-12/12">
    <div class="form-group">
      <table id="table-surveys-links" class="dataTable stripe row-border table-border order-column row-space is-in-tab" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Nazwa Ankiety</th>
          <th>Adresy</th>
          <th>Status</th>
          <th>Ankieta wypełniona przez Administratora</th>
        </tr>
        </thead>
        <tbody>
          <% @surveys.each do |survey| %>
            <% link_for_obj = "#{Rails.configuration.try(:client_domain) || "http://#{Rails.configuration.try(:front_domain)}"}/#{surveys.survey_show_path(survey.slug, obj.get_survey_token(survey.slug))}" %>
            <tr>
              <td class="text-left"><%= survey.name %></td>
              <td class="text-left">
                <%= link_to link_for_obj, link_for_obj, target: :blank %>
              </td>
              <td><%=  obj.get_survey_status_name survey.id %></td>
              <td><%= check_box_tag "#{f.object_name}[surveys_filled_by_admin][]", survey.id, obj.surveys_filled_by_admin.try(:include?, survey.id.to_s), { disabled: false, data: { editable: 1 } } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid__item u-12/12 submit-wrapper">
    <button type="submit" class="btn btn--primary"><%= t('views.users.edit.buttons.save') %></button>
  </div>
</div>


<% if @finished_surveys_hash.present? %>
  <h2>Wyniki</h2>
  <ul class="tabs-nav">
    <% @finished_surveys_hash.each do |survey_id, survey_hash| %>
      <li><a href="#survey_<%= survey_id %>_results"><%= survey_hash[:survey].short_title || survey_hash[:survey].title %></a></li>
    <% end %>
    <li></li>
    <li></li>
  </ul>
    
  <% @finished_surveys_hash.each do |survey_id, survey_hash| %>
    <div class="tab subtab" id="survey_<%= survey_id %>_results">
      <table id="table-surveys-links" class="dataTable stripe row-border table-border order-column row-space is-in-tab" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Id pytania</th>
          <th>Pytanie</th>
          <th>Odpowiedzi</th>
        </tr>
        </thead>
        <tbody>
          <% survey_hash[:questions].each do |question_hash| %>
            <%= render partial: "/surveys313/partials/survey_evaluation_result_row", locals: {question: question_hash[:question], lvl: question_hash[:level], obj: obj} %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
