<% ua = obj.get_survey_answer question.id %>

<% if ua.present? or question.static_text? %>

  <tr class="question question-lvl-<%= lvl %> question-type-<%= question.type %><%= " question-layout-#{question.layout || 'basic'}" %>">
    <td>
      <%= question.id %>
    </td>
    <% #STATIC TEXT %>
    <% if question.static_text? %>
      <td colspan='2'>
        <%= question.question %>
      </td>
    <% #SINGLE %>
    <% else %>
      <td>
        <% if question.label %>
          <%= question.label %>
        <% end %>
      </td>
      <td>
        <% if question.field_radio? %>
          <% question.dropdown_options.each do |key, value| %>
            <label><%= radio_button_tag "name[#{question.id}]", key, key == ua.try(:answer), id: "field_question_#{question.id}", data: question.validation_data, disabled: true %><span><%= value %></span></label>
          <% end %>
        <% else %>
          <%= question.get_user_answer ua.try(:answer) %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
