<!DOCTYPE html>
<html>
<head>
  <title>Surveys313</title>
  <%= stylesheet_link_tag    "surveys313/application", media: "all" %>
  <%= javascript_include_tag "surveys313/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
