<% if answer.single? %>
  <label><%= radio_button_tag "survey_user_answers[#{question.id}][]", answer.id %><span><%= answer.answer %></span></label><br/>
<% elsif answer.single_other? %>
  <label><%= radio_button_tag "survey_user_answers[#{question.id}][]", answer.id %><span><%= answer.answer %></span><span><%= text_field_tag "survey_user_answers_other[#{answer.id}]" %></span></label><br/>
<% elsif answer.multi? %>
  <label><%= check_box_tag "survey_user_answers[#{question.id}][]", answer.id %><span><%= answer.answer %></span></label><br/>
<% elsif answer.open? %>
  <label><%= text_field_tag "survey_user_answers[#{question.id}][#{answer.id}]" %><span><%= answer.answer %></span></label><br/>
<% elsif answer.text? %>
  <label><%= text_area_tag "survey_user_answers[#{question.id}][#{answer.id}]" %><span><%= answer.answer %></span></label><br/>
<% elsif answer.dropdown? %>
  <label>
    <div class="grid">
      <div class="grid__item u-6/12">
        <%= answer.answer %>
      </div>
      <div class="grid__item u-6/12">
        <%= select_tag "survey_user_answers[#{question.id}][#{answer.id}]", options_for_select(answer.options.invert) %>
      </div>
    </div>
  </label>
<% end %>
<div class="grid">
  <% if false %>
    <div class="grid__item u-3/12@lg u-6/12@sm">
      <div class="form-group">
        <%# f.label :driving_license, t('models.user.attributes.driving_license') %>
        <%# f.select :driving_license, [['Tak', true], ['Nie', false]], id: 'prawo-jazdy-kat-b', 'data-validation'=>'required' %>
        <label for="user[driving_license]"><%= t('models.user.attributes.driving_license') %></label>
        <select class="form-control" name="user[driving_license]" id="prawo-jazdy-kat-b" data-validation="required">
          <option value="true" <%= @user.driving_license == 'true' ? 'selected' : '' -%>>Tak</option>
          <option value="false" <%= @user.driving_license == 'false' ? 'selected' : '' -%>>Nie</option>
        </select>
      </div>
    </div>
  <% end %>
</div>
