<%= form_tag survey_create_path, class: "form" do |f| %>

  <% @survey.questions.each_with_index do |question, index| %>
    <h3 class="form-legend"><%= index+1 %>.</h3>
    <fieldset>
      <div class="form_inner">
        <div class="grid">
          <div class="grid__item u-12/12">
            <h2><%= question.question %></h2>
          </div>
        </div>
        <% question.answers.each_with_index do |answer, index| %>
          <%= render partial: "answer", locals: {question: question, answer: answer, index: index} %>
        <% end %>
      </div>
    </fieldset>
  <% end %>
  <fieldset>
    <div class="form_inner">
      <div class="form-actions">
        <div class="loader hidden"></div>
        <%= button_tag "Wyślij", type: 'submit', class: 'form-submit' %>
      </div>
    </div>
  </fieldset>
<% end %>
